#container {
	width: 90%;
	max-width: 600px;
	margin: auto;
	border: double #999 1px;
	margin-top: 20px;
	padding: 10px;
	background-color: #ddd;
	border-radius: 10px;
}

.gameName {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.gameThumbnail img {
	width: 100%;
	height: auto;
}

.slideButtonLeft {
	position:absolute;
	top:50%;
	left:0%;
}

.slideButtonRight {
	float: right;
}

.label {
	width: 30%;
	font-weight: bold;
}

.data {
	width: 70%;
}

.detailsButton {
	background-color: #6c6;
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid #08d;
}

.detailsButton a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#end {
	clear: both;
}

@media only screen and (min-width: 550px) {
	.gameThumbnail {
		float: left;
		width: 64%;
	}

	.gameDescription {
		float: right;
		width: 35%;
	}
}

@media only screen and (max-width: 550px) {
	.gameThumbnail {
		display: block;
		width: 100%;
	}

	.gameDescription {
		display: block;
		width: 100%;
	}
}