/* About page format */
#background {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

#page {
	width: 100%;
	max-width: 600px;
	min-width: 200px;
	margin: auto;
}

.info {
	display: block;
}

.info img {
	width: 100%;
	height: auto;
}