/* Format to info panel */

.panel {
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
	background-color: #ddd;
	border-radius: 10px;
	margin-top: 15%;
	margin-bottom: 15%;
}

#home {
	width: 60%;
	margin: auto;
	margin-top: 15%;
}

.infoText {
	text-align: justify;
}

#emailForm {
	width: 25%;
	margin-left: 23%;
	float: left;
}

#contacts {
	width: 20%;
	margin-right: 23%;
	float: right;
}

.label {
	float: left;
}

.input {
	float right;
	margin-left: 20%;
}

.contactInput{
	padding: 2px;
	width: 90%;
}

.contactTextBox{
	height: 4em;
	width: 90%;
	resize: none;
}

.contactButton{
	width: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#reset {
	margin-left: 15%;
	float: left;
}

#submit {
	margin-right: 15%;
	float: right;
}