/* Format to info panel */

h2 {
	text-align: center;
}

.infoText {
	text-align: justify;
}

.contactButton{
	width: 40%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8da;
}

#reset {
	--margin-left: 25px;
	float: left;
}

#submit {
	--margin-right: 25px;
	float: right;
}

@media only screen and (min-width: 750px) {
	.panel {
		padding-top: 5px;
		padding-right: 30px;
		padding-left: 30px;
		padding-bottom: 30px;
		background-color: #ddd;
		border-radius: 10px;
	}

	#container {
		width: 750px;
		margin: auto;
		margin-top: 150px;
	}

	#emailForm {
		width: 350px;
		float: left;
	}

	#contacts {
		width: 250px;
		float: right;
	}
	
	.data {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.label {
		float: left;
	}

	.input {
		float right;
		margin-left: 80px;
	}
	
	.contactInput{
		padding: 2px;
		width: 270px;
	}

	.contactTextBox{
		height: 6em;
		width: 270px;
		resize: none;
	}
	
	.buttons {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 750px) {
	.panel {
		padding-top: 5px;
		padding-right: 0px;
		padding-left: 0px;
		padding-bottom: 30px;
		background-color: #ddd;
		border-radius: 10px;
		margin-top: 20px;
	}
	
	#container {
		width: 90%;
		margin: auto;
		margin-top: 20px;
	}

	#emailForm {
		display: block;
		width: 100%;
	}

	#contacts {
		display: block;
		width: 100%;
	}
	
	.data {
		width: 90%;
		margin: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	.label {
		display: block;
	}

	.input {
		display: block;
		width: 100%;
	}
	
	.contactInput{
		padding: 2px;
		width: 100%;
	}

	.contactTextBox{
		height: 6em;
		width: 100%;
		resize: none;
	}
	
	.buttons {
		width: 90%;
		margin: auto;
		margin-bottom: 30px;
		margin-top: 10px;
	}
}