/* Format to info panel */

.panel {
	padding-top: 5px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	background-color: #ddd;
	border-radius: 10px;
}

#home {
	width: 500px;
	margin: auto;
	margin-top: 150px;
}

.infoText {
	text-align: justify;
}

#container {
	width: 750px;
	margin: auto;
	margin-top: 150px;
}

#emailForm {
	width: 350px;
	float: left;
}

#contacts {
	width: 250px;
	float: right;
}

.label {
	float: left;
}

.input {
	float right;
	margin-left: 80px;
}

.contactInput{
	padding: 2px;
	width: 270px;
}

.contactTextBox{
	height: 6em;
	width: 270px;
	resize: none;
}

.contactButton{
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#reset {
	--margin-left: 25px;
	float: left;
}

#submit {
	--margin-right: 25px;
	float: right;
}